.calculator {
    width: 285px;
    margin: 0 auto;
}

.display-panel {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    font-size: 3em;
    font-weight: 500;
    padding-right: 10px;
    width: 285px;
    height: 95px;
    background: #433437;
    color: #ffffff;
    border-top: 1px solid #921029;
    border-right: 1px solid #921029;
    border-left: 1px solid #921029;

}

/* div[class^="number-"] {
    grid-area: number;
} */

.clear {
    grid-column: 1 / span 3;
}

.zero {
    grid-column: 1 / span 2;
}

.operator {
    background: #F2274F;
    color: #FFFFFF;
}

.grid-container {
    display: grid;
    grid-gap: 0px;
    grid-template-columns: 71px 71px 71px 71px;
}

.grid-container > button {
    border: 1px solid #921029;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0px;
    height: 70px;
    font-size: 3em;
    font-weight: 500;
    vertical-align: middle;
    text-align: center;
}

.grid-container > button.clear {
    font-size: 2em;
    color: #cca2ab;
    width: 214px;
}

.grid-container > button.zero {
    width: 143px;
}

.grid-container > button:active {
    background: #cca2ab;
    color: #FFFFFF;
}

.grid-container > button:focus {
    outline: none;
}

table {
    border-collapse: collapse;
}

table, td {
    border: 1px solid #921029;

}

td {
    height: 68px;
    width: 68px;
    font-size: 3em;
    font-weight: 500;
    vertical-align: middle;
    text-align: center;
}

td.operator {
    background: #F2274F;
    color: #FFFFFF;
}

td:active {
    background: #cca2ab;
    color: #FFFFFF;
}
